<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ankieta dot. raka szyjki macicy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="..\static\css\style.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="../static/js/scripts.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">My App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/index">Home</a></li>
          <li><a href="/form">Form</a></li>
          <li><a href="/raw">Raw data</a></li>
          <li><a href="/result">Result</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  </head>

    <body role="document">

      <!-- Fixed navbar -->


      <div class="container theme-showcase" role="main">

        <div class="container">
          <div class="page-header">
            <h1 align="center" style="color:white">W walce z rakiem szyjki macicy</h1>
          </div>
          <div class="w3-theme-light w3-round"  style="padding:30px; margin: auto; max-width: 700px;">


      {% block content %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
